<%= form_with model: Recipe.new, url: recipes_path(current_user), method: :post, local: true do |form| %>
  <div class="d-flex justify-content-center">
    <div class="border shadow-lg rounded p-4 d-flex flex-column gap-2">
      <h3> Add New Recipe </h3>
      <div class="d-flex flex-column">
        <%= form.label :name  %>
        <%= form.text_field :name %>
        <% form.object.errors.full_messages_for(:name).each do |message|%>
          <div><%= message %></div>
        <%end%>
      </div>
      <div class="d-flex flex-column">
        <%= form.label :description%>
        <%= form.text_area :description %>
        <% form.object.errors.full_messages_for(:description).each do |message|%>
          <div><%= message %></div>
        <%end%>
      </div>
      <div class="d-flex flex-column">
        <%= form.label :preparation_time_in_hour %>
        <%= form.number_field :preparation_time, step: :any, required:true %>
        <% form.object.errors.full_messages_for(:preparation_time).each do |message|%>
          <div><%= message %></div>
        <%end%>
      </div>
      <div class="d-flex flex-column">
        <%= form.label :cooking_time_in_hour%>
        <%= form.number_field :cooking_time, step: :any, required:true %>
        <% form.object.errors.full_messages_for(:cooking_time).each do |message|%>
          <div><%= message %></div>
        <%end%>
      </div>
      <div class="d-flex gap-2">
        <%= form.label :public%>
        <%= form.check_box  :is_public  %>
      </div>
        <% form.object.errors.full_messages_for(:public).each do |message|%>
          <div><%= message %></div>
        <%end%>
      <%= form.submit "Create Recipe" %>
    </div>
  </div>
<%end%>
